    #divMenuPrincipal{
      float: left;
      margin-top:10px;
    }
    .menu li{
      border-right: 1px solid #acacac;
    }

     .menu li a{
      width: 140px; 
      color: #fff;
      text-align:center;
      font-size: 14px; 
      font-family: "Roboto Bold";   
    }
    .menu li a:hover{
      color: #818eba;
      border-width: 2px;  
    }

    #topHeader{
        background-color:rgba(58, 57, 60, 0.75);
        border-bottom: 1px solid rgba(58, 57, 60, 0.2);
        padding: 10px 0px 10px 0px;
        box-shadow: 0px 1px 8px #000;
        position: fixed;
        overflow: hidden;
        top:0;
        /*z-index: 999;*/
        width: 100%;
    }
    .faInfoMenu{
      font-size: 14px;
      margin-right: 5px;
    }
    #divMenuInfo p{
      font-family: 13px;
      margin-bottom: 2px;
       font-family: "Roboto Regular";
      font-size: 12px;
    }

.item > img{
  width: 100%;

}
.owl-height{
  height: 300px
}

.bg-blue {
  background-color: #818eba;
}
.bg-black {
  background-color: #e3e3e3;
}
.text-white {
  columns: #666;
}
.text-black {
    color: #333;
}
.shadow {
  box-shadow: 2px 2px 5px #333;
  transition:box-shadow .2s;
}
.shadow:hover {
  box-shadow: 5px 5px 10px #333;
  cursor:pointer;
}
    .bg-blue {
      background-color: #818eba;
    }
    .bg-black {
      background-color: #e3e3e3;
    }
    .text-white {
      color: #666;
    }
    .text-black {
       color: #333;
    }
    .shadow {
      box-shadow: 2px 2px 5px #333;
      transition:box-shadow .2s;
    }
    .shadow:hover {
      box-shadow: 5px 5px 10px #333;
      cursor:pointer;
    }
    .callAction{
      background-color: #8a98bf;
    }
    
    #banner{
      background: url('../img/banners/bannerteste.png') center top no-repeat;
      /* Set a specific height */
    height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }
    #logo{
      width: 100%;
    }

    .imgQuemSomos{
      text-align: center;
    }

    .imgQuemSomos img{
      width:100%;
      border-radius: 10px;
    }

    .sectionsRows{
      padding:60px 0px;
      background-color:#f9f9f9;
    }
    .btnQuemSomos{
      float:right;
      margin-bottom:80px;
    }

    .quemSomosBl > h1{
      font-family: "Roboto Bold";

    }
   .infoQSI i.fa {
    font-size: 50px;
    text-align: center;
   }
    .infoQSI div{
      text-align: center;
    }

    .infoQSI div:last-child{
    margin-right:  0px;
    }

    .infoQSI div p {
        text-align: justify;
    }
    .quemSomosRow{
      margin-bottom:20px; 
    }

    p{
      font-family: "Roboto";
      font-size: 18px;
    }
    .sectionBG1{
      background: url('../img/banners/sectionpart1BG.jpg') center top no-repeat;
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 300px;
      color: #fff;
      text-align: center;
      display:block;
      
    }
    .sectionBG1 p{
        font-size: 30px;
        font-family: "Roboto Bold";
        display: inline-block;
  vertical-align: middle;
    }
    .nossosServicos h1{
      text-align: center;
      font-family: "Roboto Bold";
    }

    footer{
      background-color:#000;
      height: 300px;
    }
.nMargin{
  margin:0;
}

#position-form{
  padding-top: 20px;
  padding-left: 10px;
  float:right;  
}

.sizebtn{
  width: 100%;
}

#msg-form{
  font-family: "Helvetica Neue,Helvetica,Roboto,Arial,sans-serif";
  font-size: 25px;
}

#h1form{
  font-family: "Roboto Bold";
  font-size: 40px;
}
.bordas-form{
  border: 1px solid light-gray;
  border-radius: 2px; 
}

#areatexto{
  height:100px;
}
.tabs-title{
  font-family: "Roboto Bold";
  font-size: 30px !important;
  text-align: center;
  padding-left: 0px;
  padding-right: 0px;
  

}
.tabs-title a{
color:#8a98bf;
}
.tabs-title a:hover{
  background-color:#8a98bf;
  color:#fff;
}

.ativaBlocoServico{
  display:block;
}

.is-active{
  background-color: #8a98bf;
  color:#fff !important;
}
 #bannercontato{
      background: url('../img/banners/thisbanners-contato.jpg') center top no-repeat;
      /* Set a specific height /*/
    height: 800px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }


    .large-4.column.bloco-iconesQuemSomos {
    border: 1px solid rgba(0,0,0,0.1);
    background-color: #fff;
    width: 410px;
    float: left;
    margin-right: 35px;

}

.bloco-iconesQuemSomos:first-child{
    margin-left:25px;
}

.bloco-iconesQuemSomos:last-child{
    margin-right:24px !important;
    float: left !important;
}

.bloco-iconesQuemSomos i {
  margin: 15px 0 20px 0;  
}

#example-tabs li a i.fa{
  font-size: 30px;
}
